---

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Política de privacidad</h1>
    <p>Última actualización: Junio 23, 2024</p>
    <p>La siguiente Política de Privacidad, describe nuestra política y procedimientos en cómo recolectamos, usamos y compartimos su información al usar nuestro servicio.</p>
    <p>Usamos esta información para proveer y mejorar nuestro servicio. Al usar nuestro servicio, usted acepta esta Política de Privacidad y sus términos, y acepta que sus datos sean procesados.</p>
    <p>Nuestro Servicio no se dirige a ninguna persona menor de 13 años. No recopilamos a sabiendas información de identificación personal de ninguna persona menor de 13 años. Si usted es padre o tutor y sabe que su hijo nos ha proporcionado Datos personales, por favor contáctenos. Si nos damos cuenta de que hemos recopilado datos personales de cualquier persona menor de 13 años sin verificación del consentimiento de los padres, tomamos medidas para eliminar esa información de nuestros servidores.</p>
    <h1>Definiciones</h1>
    <p>Para que este documento sea más fácil de leer, utilizaremos algunos símbolos a través del mismo. Por ejemplo, al referirnos a "servicios", estamos hablando de:</p>
    <ul>
        <li><strong>Aplicaciones móviles</strong> de Reservoir</li>
        <li><strong>Sitios Web</strong> de Reservoir</li>
    </ul>
    <p>Los productos y servicios de Reservoir son propiedad y están operados por Josué Humberto Reyes Suárez, a la que se hace referencia como "nos" o "nosotros". Cuando nos referimos al usuario de nuestros servicios,
        usamos el término "usuario" o "usted".
    </p>
    <h1>Nosotros no recolectamos información personal a través de nuestros servicios</h1>
    <p>Nosotros no recopilamos, usamos, guardamos o tenemos acceso a ninguno de sus datos personales al hacer uso de nuestros servicios.</p>
    
    <h1>Links hacia otros sitios</h1>
    <p>Nuestro Servicio puede contener enlaces a otros sitios web que no son operados por Nosotros. Si hace clic en el enlace de un tercero, será dirigido al sitio de ese tercero. Le recomendamos encarecidamente que revise la Política de privacidad de cada sitio que visite.</p>
    <p>No tenemos control ni asumimos ninguna responsabilidad por el contenido, las políticas de privacidad o las prácticas de los sitios o servicios de terceros.</p>

    <h1>Cambios a la Política de Privacidad</h1>
    <p>Es posible que actualicemos nuestra Política de privacidad de vez en cuando. Le notificaremos cualquier cambio publicando la nueva Política de Privacidad en esta página.</p>
    <p>Le informaremos por correo electrónico y/o un aviso destacado en nuestro servicio, antes de que el cambio entre en vigencia y actualizaremos la fecha de "Última actualización" en la parte superior de esta Política de privacidad.</p>
    <p>Se le recomienda revisar esta Política de Privacidad periódicamente para cualquier cambio. Los cambios a esta Política de privacidad son efectivos cuando se publican en esta página.</p>

    <h1>Contáctanos</h1>
    <p>Si tienes alguna pregunta sobre esta Política de Privacidad, puedes contactarnos a traves de:</p>
    <ul>
        <li><p>Email: contact.jhrs@gmail.com</p></li>
        <li><p>Visitando nuestra página: <a href="" rel="noreferrer" target="_blank">Reservoir</a></p></li>
    </ul>
</body>
</html>